.h1-collectivite {
    font-size: 40px;
    line-height: 48px;
    font-weight: bolder;
}

.h1-collectivite-population{
    color: var(--light-text-default-grey, #3A3A3A);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}